*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #fd4646;
    --sec-color: #4946fd;
    --text-color: #171427;
    --bg-color: #fff;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #282828;
}

.container{
    height: 11px;
    position:relative;
    margin-bottom: 30px;
}

#toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #282828;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

.light-theme{
    background-color: #fff;
    color: black;
}
.light-theme #toggle{
    background-color: #282828
}
.light-theme #toggle:after{
    background-color: transparent;
    box-shadow: 10px 10px black;
    top: -4px;
    left: 30px;
}

nav {
    background-color: #1e1e1e;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
    padding: 24px;
    padding-bottom: 10px;
}

nav ul li img {
    height: 40px;
    margin: 16px 0px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    
}

nav ul li a:hover{
    text-decoration: underline; 
    text-decoration-color: #f1c40f;
}

a {
    text-decoration: none;
    color: #fff;
}

#ads {
    height: calc(100vh - 107.5px);
    display: flex;
    flex-direction: row;
}

#ads .ad {
    flex-grow: 1.5;
    transition: all 0.5s;
}

#ads .ad:hover {
    flex-grow: 3;
    transition: all 0.5s;
}

#ads .ad .ad-content {
    display: none;
}

#ads .ad:hover .ad-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.75);
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
}

#ads .ad:hover .ad-content {
    font-size: 24px;
    color: white;
}

#ads .ad {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#ads .ad h1 {
    text-wrap: wrap;
}

#ads #ad1 {
    background-image: url("../assets/basketbal.jpg");
}

#ads #ad2 {
    background-image: url("../assets/Running1.jpeg");
}

#ads #ad3{
    background-image: url("../assets/voetbal1.jpg");
    background-color: #2e2e2e;
}


footer {
    background-color: #282828;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section:last-child {
    margin-right: 0;
}

.footer-section h4 {
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer-section a {
    display: block;
    margin-bottom: 10px;
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
    text-decoration-color: #f1c40f;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section button {
    background-color: #f1c40f;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
}
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
}



main{
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
}

main .card{
    max-width: 300px;
    flex: 1 1 210px;
    text-align: center;
    height: 420px;
    border: 1px solid rgb(150, 150, 150);
    margin: 20px;
    background-color: lightgray;
}

main .card .image{
    height: 50%;
    margin-bottom: 20px;
}

main .card .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .caption{
    padding-left: 1em;
    line-height: 2em;
    height: 25%;
}

main .card .caption .discount{
    color: red;
}


del{
    text-decoration: line-through;
}

main .card .caption .rate{
    margin: 0 auto;
    width: auto;
}

main .card .caption .rate i{
    color: gold;
}

main .card a{
    width: 50%;
}

main .card button{
    border: 2px solid black;
    padding: 1em;
    width: 80%;
    cursor: pointer;
    margin-top: 2em;
    font-weight: bold;
    position: relative;
}

main .card button:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
    margin: 0;
}

main .card button::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: black;
    transition: all .5s;
}

main .card button:hover::before{
    width: 30%;
}

main .card button:hover::after{
    width: 30%;
}
#cart-icon{

    cursor: pointer;
    color: white;
}

/* CART  */
.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%; 
    width: 360px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--main-color);
    transition: 1.5s;
}
.cart.active{
    right: 0;
    transition: .5s;
    z-index: 1000;
}
.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: .5rem;
}
.cart-product-title{
    font-size: 1rem;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
}
.total-price{
    margin-left: .5rem;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: var(--sec-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: var(--text-color);
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(--text-color);
    cursor: pointer;
}


 /* Dropdown Button */
.dropbtn {
    font-size: 16px;  
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
  
  /* The dropdown container */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .section-title{
    font-style: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}
.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
}
  .product-box{
    position: relative;
}
.product-box:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: .4s;
}
.product-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: .5rem;
}
.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
.product-price{
    font-weight: 500;
}
.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}
.add-cart:hover{
    background-color: hsl(249, 32%, 17%);
}
